.nav-link{
color: white;
}
.navbar-brand{
color: white;
}
#tickets{
    color: rgb(33, 222, 33);

}
#tickets:hover{
    color: rgb(240, 240, 43);

}
#row-nav{
    padding-right: 5rem;

}

.carousel-caption {
    
    right: 100px;
    left: auto;
    bottom: 100px;
    width: 500px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;    
    text-align: right;
  }

.row{
  text-align: center;
}

.card{

    margin: auto;
    height: 600px;
    text-align: left;
}

#columnaTexto{
    background-color: grey;
    text-align: left;
    color: white;
    padding: 20px;
}
.btn.btn-primary{
background-color: rgb(24, 158, 40);
color: white;
}

footer{   
   display: flex;
   justify-content: space-around;  
   
   background: #1C6EA4;
   background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
   background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
   background: linear-gradient(to left, #1c618e 0%, #195c88 50%, #0a293d 100%);
   height: 80px;
   text-align: center;
   color: white;
}

#texto-footer{
    margin-top: 15px;
    
   
}

#texto-footer1{
    margin-top: 25px;
    
   
}
#texto-footer:hover{
    color: yellow;
    
   
}

#texto-footer1:hover{
    color: yellow;
    
   
}

  /* Estilos Tickets */

  #descCards1{
    background-color: rgb(230, 232, 240);
    border: 2px solid rgb(13, 13, 121);
    margin: 2px;
    text-align: center;
}
#descCards2{
    background-color: rgb(233, 242, 237);
    border: 2px solid rgb(9, 192, 73);
    margin: 2px;
    text-align: center;
}
#descCards3{
    background-color: rgb(244, 235, 242);
    border: 2px solid rgb(241, 39, 187);
    margin: 2px;
    text-align: center;
}
