.nav-link{
color: white;
}
.navbar-brand{
color: white;
}



.row{
  text-align: center;
}

.card{

    margin: auto;
    height: 454px;
    text-align: left;
}

#columnaTexto{
    background-color: grey;
    text-align: left;
    color: white;
    padding: 20px;
}
.btn.btn-primary{
background-color: rgb(24, 158, 40);
color: white;

}

footer{
    background: #1C6EA4;
    background: -moz-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: -webkit-linear-gradient(left, #1C6EA4 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(to left, #1c618e 0%, #195c88 50%, #0a293d 100%);
position: center;
bottom: 0px;
left: auto;
width: 1140px;
height: 60px;
text-align: center;
color: white;



}