.nav-link{
color: white;
}
.navbar-brand{
color: white;
}

.row{
  text-align: center;
}

#columnaTexto{
    background-color: grey;
    text-align: left;
    color: white;
    padding: 20px;
}

footer{
background-color: grey ;
position: center;
bottom: 0px;
left: auto;
width: 1140px;
height: 60px;
text-align: center;
color: white;



}